@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  /* background-image: url("./wallpaper.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.wallpaper {
  background-image: url("./gremio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
